/api-server/config/credentials.yml.enc

keys/
terraform/.terraform/

*.crt
*.key
*.pem
*.env

/ansible/*.retry
/terraform/vendor

.idea/

!/api-server/log/.keep
!/api-server/tmp/.keep
/app-server/app/assets/server*
/api-server/.byebug_history
/api-server/*.env
/api-server/spec/tmp
/api-server/public/system
/api-server/coverage
/api-server/results
/api-server/tmp
/api-server/log
/api-server/bin
/api-server/config/initializers/secret_token.rb
/api-server/config/master.key
/api-server/.bundle
/api-server/vendor/bundle
/osqueryd/run

# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
angular/dist
angular/tmp
angular/out-tsc
# Only exists if Bazel was run
angular/bazel-out

# dependencies
angular/node_modules

# profiling files
chrome-profiler-events.json
speed-measure-plugin.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
angular/.sass-cache
angular/connect.lock
angular/coverage
angular/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
angular/typings

# System Files
.DS_Store
Thumbs.db
